---
---


@import "minima";

h1 { font-size: 2em !important; }
h2 { font-size: 1.5em !important; }
h3 { font-size: 1.17em !important; }
h4 { font-size: 1.12em !important; }
h5 { font-size: .83em !important; }
h6 { font-size: .75em !important; }

img[alt=img320] { height: 300px; padding-right: 1em; padding-bottom: 1em; }
img[alt=img160] { height: 140px; padding-right: 1em; padding-bottom: 1em; }
